<div class="div_header1">
  <div class="div1_header">
    <div class="div1_header_unitaire">
      <div class="div_odd">
        ODD
      </div>
      <div class="div_riemas">
        RIEMAS (THINK TANK)
      </div>
    </div>
  </div>
  <div class="div2_header">
    <div class="div_chaireIa">
      CHAIRE IA
    </div>
    <div class="webTv_div">
      <div class="div_web_tv_unitaire">Web TV</div>
      <div class="div_web_tv_unitaire">Opportunités d'emploi</div>
      <div class="div_web_tv_unitaire">Espace étudiant</div>
      <div class="div_web_tv_unitaire2">Mon portail</div>
    </div>
  </div>
  <div class="div3_header">
    <div class="div_payementEnligne">
      Payement En ligne
    </div>
    <div class="div_contanct_contry">
      <div class="div_contact">
        Contact
      </div>
      <div class="div_country">
        <div class="language-selector">
          <select id="language" name="language" class="language-select">
            <option value="en" class="flag-icon flag-icon-us"> English</option>
            <option value="es" class="flag-icon flag-icon-es"> Español</option>
          </select>
        </div>
        
      </div>
    </div>
  </div>
</div>
