.div_header2{
    width: 100%;
    height: fit-content;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div_header2_centree{
    width: 85%;
    height: 100px;
    background-color: green;
}
.logo_uemf{

}
.div_menu{

}